* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px;
    flex: 0 0 100%;
}

.main-content {
    flex: 0 0 70%;
}

.sidebar {
    flex: 0 0 calc(30% - 10px);
}

@media screen and (max-width: 800px) {
    .box {
        flex: 0 0 100%;
    }
}