.box-model {
    width: 43vw;
    margin: 30px auto;
}

.box-model div {
    border: 1px dashed #000000;
    margin: 10px 30px 30px 30px;
}

.box-model p {
    margin: 0;
    padding-left: 13px;
    font-size: 18px;
}

.box-model .margin {
    background-color: #FF966F;
}

.box-model .border {
    background-color: #FFE8C6;
}

.box-model .padding {
    background-color: #85EB85;
}

.box-model .content {
    background-color: #A3D2E2;
    text-align: center;
    padding: 20px;
}

