div {
    border: 2px solid black;
    margin: 15px 1px;
}

p {
    font-size: 15px;
}

.first {
    padding: 20px;
    margin: 20px;
}

.second {
    padding: 10px 30px 20px 40px;
    margin: 10px 30px 20px 40px;
}

.third {
    padding: 5%;
    margin: -20px;
}