main {
    background-color: #AAE9F3;
    border: 1px solid black;
}

h1 {
    font-size: 23px;
    margin-left: 20px;
}

h2 {
    font-size: 22px;
    margin-left: 20px;
}

.info {
    margin-left: 20px;
}

td {
    border: 1px solid black;
    color: #3643BA;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    width: 180px;
    height: 110px;
    padding: 8px;
}

table {
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-spacing: 5px;
}

.text-right {
    text-align: right; /* Align text to the right */
}

.image-text-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
}

/* Style for the text */
.text {
    flex-grow: 1; /* Allow the text to grow and occupy remaining space */
}