table {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: 10px;
}

th {
    background-color: #B3DEEE;
    padding: 5px;
}

td {
    border: 1px solid #ddd;
}